<h1>Welcome to your Rails Lab!</h1>
<p>Today we covered the REST response cycle. Now it's time for you to implement it yourself!</p>
<ul>
    <li>Check out the photo viewer demo.</li>
    <li>Now refer to the README for your lab assignment.</li>
</ul>
<a href="/new/photo">Photo Viewer</a>


